{% extends 'main_page/shablon.html' %}
{% load static %}

{% block title %}Предметы | ПИЖ{% endblock  %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'main_page/css/disciplines.css' %}">
{% endblock %}

{% block content %}
    <div class="schedule">
        <div class="schedule_item"><a href="/disciplines/algebra/" class="h5">Алгебра</a></div>
        <div class="schedule_item"><a href="/disciplines/eng/" class="h5">Английский язык</a></div>
        <div class="schedule_item"><a href="/disciplines/engacademic/" class="h5">Английский язык для академических целей</a></div>
        <div class="schedule_item"><a href="/disciplines/speciality_introduction/" class="h5">Введение в специальность</a></div>
        <div class="schedule_item"><a href="/disciplines/culture_and_communication/" class="h5">Инклюзивная культура и коммуникация (Модульная дисциплина)</a></div>
        <div class="schedule_item"><a href="/disciplines/history/" class="h5">Всеобщая история</a></div>
        <div class="schedule_item"><a href="/disciplines/matan/" class="h5">Математический анализ</a></div>
        <div class="schedule_item"><a href="/disciplines/practice/" class="h5">Ознакомительная практика</a></div>
        <div class="schedule_item"><a href="/disciplines/zakon/" class="h5">Правоведение (Модульная дисциплина)</a></div>
        <div class="schedule_item"><a href="/disciplines/prof_communications_ru/" class="h5">Практика профессиональной коммуникации на русском языке</a></div>
        <div class="schedule_item"><a href="/disciplines/physics" class="h5">Физика</a></div>
        <div class="schedule_item"><a href="/disciplines/pe" class="h5">Физическая культура и спорт</a></div>
        <div class="schedule_item"><a href="/disciplines/cifra" class="h5">Цифровая грамотность и обработка данных</a></div>
        <div class="schedule_item"><a href="/disciplines/pe_dop/" class="h5">Элективные дисциплины (модули) по физической культуре и спорту</a></div>
    </div>
{% endblock %}