{% extends 'main_page/shablon.html' %}
{% load static %}

{% block title %}Предметы | ПИЖ{% endblock  %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'main_page/css/disciplines.css' %}">
{% endblock %}

{% block content %}
    <div class="schedule">
        <div class="schedule_item"><p class="h5">Алгебра</p></div>
        <div class="schedule_item"><p class="h5">Англиский язык</p></div>
        <div class="schedule_item"><p class="h5">Англиский язык для академических целей</p></div>
        <div class="schedule_item"><p class="h5">Введение в специальность</p></div>
        <div class="schedule_item"><p class="h5">Всеобщая история</p></div>
        <div class="schedule_item"><p class="h5">Инклюзивная культура и коммуникация (Модульная дисциплина)</p></div>
        <div class="schedule_item"><p class="h5">Информационные технологии и программирование</p></div>
        <div class="schedule_item"><p class="h5">Математический анализ</p></div>
        <div class="schedule_item"><p class="h5">Ознакомительная практика</p></div>
        <div class="schedule_item"><p class="h5">Правоведение (Модульная дисциплина)</p></div>
        <div class="schedule_item"><p class="h5">Практика профессиональной коммуникации на русском языке</p></div>
        <div class="schedule_item"><p class="h5">Физика</p></div>
        <div class="schedule_item"><p class="h5">Физическая культура и спорт</p></div>
        <div class="schedule_item"><p class="h5">Цифровая грамотность и обработка данных</p></div>
        <div class="schedule_item"><p class="h5">Элективные дисциплины (модули) по физической культуре и спорту</p></div>
    </div>
{% endblock %}