{% extends 'main_page/shablon.html' %}
{% load static %}

{% block title %}Предметы | ПИЖ{% endblock  %}

{% comment %} {% block styles %}
    <link rel="stylesheet" href="{% static 'main_page/css/main.css' %}">
{% endblock %} {% endcomment %}

{% block content %}

    <div class="schedule">
            <div class="schedule_left">
            <div class="left_top">
            </div>
            <div class="left_bottom">

            </div>
        </div>
        <div class="schedule_right">
            <div class="right_top">

            </div>
            <div class="right_bottom">

            </div>
        </div>
    </div>
{% endblock %}