{% extends 'main_page/shablon.html' %}
{% load static %}

{% block title %}Главная | ПИЖ{% endblock  %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'main_page/css/discipline_page.css' %}">
{% endblock %}

{% block content %}
    <div class="buttons">
        <div class="button_current button">
            <p class="h3">{{ discipline.discipline }}</p>
        </div>
    </div>
    <div class="schedule">
        <div class="schedule_left">
            <div class="left_top">
                <p class="h3">Дата</p>
            </div>
            <div class="left_bottom">
                <p class="h4">{{ date.date }}</p>
            </div>
        </div>
        <div class="schedule_right">
            <div class="right_top">

            </div>
            <div class="right_bottom">
                <p class="h6">{{ date.actual_homework }}</p>

            </div>
        </div>
    </div>
{% endblock %}