{% extends 'main_page/shablon.html' %}
{% load static %}

{% block title %}{{ discipline.discipline }} | ПИЖ{% endblock  %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'main_page/css/discipline_page.css' %}">
    <script src="{% static 'main_page/js/discipline_page.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="buttons">
        <div class="button_current button">
            <p class="h3">{{ discipline.discipline }}</p>
        </div>
    </div>
    <div class="schedule">
        <div class="schedule_left">
            <div class="left_top"><p class="h3">Дата</p></div>
            <div class="left_bottom">
                {% for homework_date in homework %}
                    <p onclick="hw_date('date_{{ homework_date.id }}','actual_{{ homework_date.id }}')" id="date_{{ homework_date.id }}" class="h4 change-text">{{ homework_date.date }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="schedule_right">
            <div class="right_top"></div>
            <div id="right_bottom" class="right_bottom">
                {% for homework_actual in homework %}
                    <p id="actual_{{ homework_actual.id }}" class="h6 hidden">{{ homework_actual.actual_homework }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}