{% extends 'main_page/shablon.html' %}
{% load static %}

{% block title %}Главная | ПИЖ{% endblock  %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'main_page/css/main.css' %}">
{% endblock %}

{% block content %}
    <div class="buttons">
        <div class="button_current button">
            <p class="h3">Актуальное Д/З</p>
        </div>
    </div>
    <div class="schedule">
        <div class="schedule_left">
            <div class="left_top">
                <p class="h3">Предмет</p>
            </div>
            <div class="left_bottom">
                
            </div>
        </div>
        <div class="schedule_right">
            <div class="right_top">

            </div>
            <div class="right_bottom">

            </div>
        </div>
    </div>
{% endblock %}