{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- developer: https://t.me/DOfTheS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'main_page/img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'main_page/css/style.css' %}">
    {% block styles %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'main_page/css/transform.css' %}">
    <script src="{% static 'main_page/js/nav.js' %}"></script>
</head>
<body>
    <!-- developer: https://t.me/DOfTheS -->
    <div class="nav">
        <div class="logo">
            <a href="/">
                <p class="h1">//ПИЖ-Б-О-22-1</p>
                <p class="h1 mobile">ПИЖ-22</p>
            </a>
        </div>
        <div class="other">
            <a href="/files/" class="h5">Файлы</a>
            <a href="/disciplines/" class="h5">Список Предметов</a>
        </div>
        <div class="mobile">
            <img onclick="open_burger('burger')" id="open1" src="{% static 'main_page/img/open.png' %}">
            <div id="burger" class="menu burger_hidden">
                <a href="/files/" class="h5">Файлы</a>
                <a href="/disciplines/" class="h5">Список Предметов</a>
            </div>
            <div id="open_window1" class="nav__profile-open-window window_hidden"></div>
        </div>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <!-- developer: https://t.me/DOfTheS -->
</body>
</html>
