{% extends 'main_page/shablon.html' %}
{% load static %}

{% block title %}Загрузка дз | ПИЖ{% endblock  %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'main_page/css/upload_homework.css' %}">
{% endblock %}

{% block content %}
    <div class="upload_container">
        <div class="upload_discipline">
            <select>
                {% for discipline_db in discipline %}
                <option>{{ discipline_db.discipline }}</option>
                {% endfor %}
            </select>
            {% comment %} <p class="h3">Алгебра</p>
            <img src="{% static 'main_page/img/svg/open_d.svg' %}"> {% endcomment %}
        </div>
        <div class="upload_homework">
            <textarea placeholder="ДЗ"></textarea>
        </div>
        <div class="upload_files">
            <div class="drag_fiels">Дать покушать</div>
        </div>
        <div class="upload_date">
            <input type="date">
        </div>
        <div class="upload_button">
            <button type="submit" class="button">Залить</button>
        </div>
    </div>
{% endblock %}