/* Buttons */
.buttons{display:flex;flex-wrap:wrap;}
/* Table */
.schedule{height:700px;width:100%;margin-top:32px;background-color:var(--BG_3);border-radius:10px;display:flex;flex-direction:row;}
.schedule_left{height:100%;width:25%;color:var(--TC_2);border-radius:10px 0px 0px 10px;}
.schedule_right{height:100%;width:75%;border-radius:0px 10px 10px 0px;}
.left_top{display:flex;align-items:center;justify-content:center;}
.left_bottom{display:flex;flex-direction:column;align-items:center}
.left_top,.right_top{height:96px;}.left_bottom,.right_bottom{height:604px;}
.left_top{border-bottom:1px solid var(--BG_4);border-right:1px solid var(--BG_4);}.left_bottom{border-top:1px solid var(--BG_4);border-right:1px solid var(--BG_4);}
.right_top{border-bottom:1px solid var(--BG_4);border-left:1px solid var(--BG_4);}.right_bottom{border-top:1px solid var(--BG_4);border-left:1px solid var(--BG_4);padding-left:8px;padding-top:8px;}
.left_bottom p{padding-top:8px;cursor:pointer;}
.hidden{visibility:hidden;display:none;}


