/* Table */
.schedule{height:100%;width:100%;margin-top:64px;background-color:var(--BG_3);border-radius:10px;display:flex;flex-direction:column;padding:8px;}
.schedule_item{color:var(--TC_3);margin-bottom:8px;}.schedule_item a{cursor:pointer;}
/* .schedule_line{border:1px solid var(--BG_4);min-width:100%;margin-top:8px;margin-bottom:8px;} */


